@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Global Styles */

:root {
  --colour-blue: #a9f0ff;
  --colour-pink: #ffc3c3;
  --colour-orange: #ffe3af;
  --colour-yellow: #f6fba5;
  --colour-green: #aaf09a;
}

.text-blue {
  color: var(--colour-blue);
}

.text-pink {
  color: var(--color-pink);
}

.text-orange {
  color: var(--colour-orange);
}

.text-green {
  color: var(--colour-green);
}

.text-yellow {
  color: var(--colour-yellow);
}

.bg-blue {
  background-color: rgba(169, 240, 255, 0.6);
  color: #222;
}

.background-blue {
  background-color: var(--colour-blue);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Video Background Styles */

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.welcome-video {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* Nav Styles */
nav {
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 6px;
}

.nav-link {
  color: black;
}

nav .active {
  text-decoration: underline;
}

/* 3D Carousel Styles */

.carousel-container {
  position: relative;
}

.carousel-3d {
  width: 100%;
  height: 70vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 768px) {
  .carousel-3d {
    height: 100vh;
  }
}

.carousel-3d .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  --quantity: 10;
  animation: autoRun 40s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.carousel-3d .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(550px);
  border-radius: 25px;
  overflow: hidden;
}

.carousel-3d .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-3d .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.carousel-3d .content h1 {
  font-size: 2rem;
  line-height: 2rem;
  color: #222;
  position: relative;
  z-index: 3;
}

.carousel-3d .content h1 span {
  display: block;
}

.carousel-3d .content .flag {
  background-image: url(../img/flag.webp);
  width: 100%;
  height: 55vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

.carousel-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  background: linear-gradient(
    125deg,
    rgb(169, 240, 255) 0%,
    rgb(255, 195, 195) 25%,
    rgb(255, 227, 175) 50%,
    rgb(246, 251, 165) 75%,
    rgb(170, 240, 154) 100%
  );
  padding: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
}

/* White overlay with 40% transparency */
.carousel-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: inherit;
  z-index: -1;
}

/* about us page */

.about-us {
  color: blueviolet;
  margin: 70px;
  text-align: center;
}

#logo-about-us {
  align-items: center;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.about-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar {
  border: 5px solid white;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%);
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.3);
}

.avatar:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  filter: grayscale(0%);
}

.about-card-text {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px;
  font-family: 'Cinzel Decorative', serif;
}

.about-card-text i {
  color: #fff;
}

.about-card-text i:hover {
  color: #073607;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
}

/* Center content in each row */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Center images and text in each column */
.col-md-6,
.col-sm-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Center text in the about-card-text */
.about-card-text {
  text-align: center;
  margin-top: 10px;
}

/* Add some padding to the section for spacing */
section {
  padding: 20px 0;
}

/* contact page */

.form-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  background: rgb(241, 1, 1, 0.5);
  background: linear-gradient(
    125deg,
    rgb(169, 240, 255) 0%,
    rgb(255, 195, 195) 25%,
    rgb(255, 227, 175) 50%,
    rgb(246, 251, 165) 75%,
    rgb(170, 240, 154) 100%
  );
  padding: 5%;
}

.form-wrapper h2 {
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.input-field {
  background: rgb(255, 255, 255, 0.8);
}

.contact-form {
  margin: 1rem;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form-btn {
  justify-content: center;
  margin: 1rem;
  position: relative;
  text-decoration: none;
  border: 2px solid var(--colour-blue);
  cursor: pointer;
  padding: 1vh 2vh;
  border-radius: 10px;
  font-weight: bold;
  font-size: 24px;
  background-size: 100%;
  overflow: hidden;
}

.contact-form-btn::before {
  content: '';
  position: absolute;
  display: block;
  left: -10px;
  top: 50%;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-image: conic-gradient(
    var(--colour-blue),
    var(--colour-pink),
    var(--colour-orange),
    var(--colour-yellow),
    var(--colour-green)
  );
  filter: blur(10px);
  transform: translateY(-50%) rotate(0);
  transition: transform 0.3s;
}

.contact-form-btn-text {
  position: relative;
  z-index: 2;
}

.contact-form-btn:hover::before {
  transform: translateY(-50%) rotate(180deg);
}

/* footer */

.footer {
  color: #020202;
  font-weight: bold;
  background: var(--colour-blue);
  box-shadow: rgba(0, 0, 0, 0.3) 0 -3px 6px;
}

.footer a {
  text-decoration: none;
  color: #020202;
}

.footer a i:hover {
  font-size: xx-large;
  color: var(--colour-yellow);
}

.footer-team-link:hover {
  font-size: xx-large;
  color: var(--colour-yellow);
}

/* quiz page */

#question {
  font-size: 1.5rem;
}

#choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#choices > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 5px solid rgba(0, 0, 0, 0.6);
  padding: 15px 15px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
}

#choices > li:hover {
  background-color: #fff;
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}

#final-score-display {
  display: none;
}

.rainbow {
  width: 200px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.rainbow .rainbow-static {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.rainbow #rainbow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom center;
  transform: rotate(-180deg);
  transition: all 2s ease;
}

.rainbow-text {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    var(--colour-blue),
    var(--colour-pink),
    var(--colour-orange),
    var(--colour-yellow),
    var(--colour-green),
    var(--colour-blue)
  );
  background-clip: text;
  color: transparent;
  animation: rainbowFlash 15s infinite ease-in-out;
}

@keyframes rainbowFlash {
  0% {
    background-position: 0% 0%;
    color: black;
  }
  10% {
    background-position: 80% 0%;
    color: transparent;
  }
  20% {
    background-position: 100% 0%;
    color: transparent;
  }
  30% {
    background-position: 0% 0%;
    color: black;
  }
  100% {
    background-position: 0% 0%;
    color: black;
  }
}

.countdown-bar {
  position: relative;
  height: 5px;
  width: 100%;
}

#countdown-bar-fill {
  width: 100%;
  height: 5px;
  background-color: #b827fc;
  transition: width 2s ease;
}

/* Hero Styles */

.hero {
  padding: 0;
  padding-top: 56px;
  background-image: url('../img/pride-flag.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: var(--colour-pink) 0 1px 2px;
}

.hero .bg-black-transparent {
  background-color: rgba(255, 255, 255, 0.7);
}

.hero p {
  color: black;
}

/* About Us page */
#about-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#row-two {
  padding: inherit;
  margin-top: 20px;
}

#team-name {
  font-size: 2.5rem;
  text-align: center;
}

.contact-teammate {
  height: fit-content;
  margin: 10px;
  text-align: center;
}

@keyframes rainbow {
  0% {
    color: #ff0000;
  }
  15% {
    color: #ff7f00;
  }
  30% {
    color: #ffff00;
  }
  45% {
    color: #00ff00;
  }
  60% {
    color: #0000ff;
  }
  75% {
    color: #4b0082;
  }
  100% {
    color: #9400d3;
  }
}

.contact-teammate a {
  display: inline-block;
  margin: 0 10px;
  color: inherit;
}

.contact-teammate i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
}

.contact-teammate a i {
  color: #ffc3c3;
}

.contact-teammate a:hover i {
  animation: rainbow 1.5s linear infinite;
}

.nav-link:hover {
  text-decoration: none;
}

@keyframes rainbow-effect {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.profile-img-wrapper {
  display: inline-block;
  position: relative;
}

.profile-img {
  border: 5px solid white;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.profile-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  filter: grayscale(0%);
  animation: rainbow-effect 1s linear forwards;
}

.profile-img-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.profile-img:hover + .profile-img-wrapper::after {
  animation: rainbow-effect 1s linear forwards;
}

.profile-img-wrapper:hover .profile-img {
  filter: grayscale(0%);
  animation: none;
}

/* Learn page and carousel styles */

.carousel-inner {
  padding: 50px;
}

.carousel-control-prev,
.carousel-control-next {
  background: #222;
  border-radius: 25px;
  width: 25px;
}

.learn-section {
  height: 100%;
  padding: 0;
  background: transparent;
  background-size: cover;
}

.accordion,
.accordion-item {
  background: rgba(255, 255, 255, 0.5);
}

.accordion-button:not(.collapsed) {
  background-color: var(--colour-blue);
  color: black;
}

.accordion-pink,
.accordion-pink:not(.collapsed) {
  background-color: var(--colour-pink);
  color: black;
}

.accordion-yellow,
.accordion-yellow:not(.collapsed) {
  background-color: var(--colour-yellow);
  color: black;
}

.accordion-green,
.accordion-green:not(.collapsed) {
  background-color: var(--colour-green);
  color: black;
}

.accordion-orange,
.accordion-orange:not(.collapsed) {
  background-color: var(--colour-orange);
  color: black;
}

.accordion-blue,
.accordion-blue:not(.collapsed) {
  background-color: var(--colour-blue);
  color: black;
}

.accordion-body > a {
  color: black;
}

/* Intro section */

.welcome-section {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 0;
}

.welcome-text h2 {
  border-bottom: 1px solid black;
  text-align: center;
}

.learn-card {
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
}
